.bold {
    font-weight: bolder;
    color: black;
}


.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.end {
    display: flex;
    text-align:  center;
}

.text {
    position: absolute;
}

.row1 {
    background-color: rgb(251, 129, 15);
    color: rgb(40, 91, 40);
    text-align: center;
}

.row2 {
    background-color: rgb(40, 91, 40);
    color: white;
    text-align: center;
}

.row3 {
    background-color: darkred;
    color: white;
    text-align: center;
}

.size {
    font-size: 150%;
}

h1 {
    font-weight: bold;
    font-size: 300%;
}

h5 {
    font-size: 300%;
}

.accomplishmentsColor {
    color: rgb(40, 91, 40);
}

p {
    font-size: 140%;
}

.accomplishmentsText {
    color: rgb(40, 91, 40);
    font-size: 300%;
}

.accomplishmentsRow1 {
    background-color: rgb(251, 129, 15);
    display: flex;
    justify-content: space-evenly;
}

.accomplishmentsRow2 {
    background-color: rgb(255, 154, 30);
    display: flex;
    justify-content: space-evenly;
}


.imageStretch  {
    display: flex;
    align-items: stretch;
}

.image3 {
    width: 100%;
}

.imageAdjust {
    height: 550px;
    width: 80%;
}