.bold {
    font-weight: bolder;
    color: black;
}


.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.end {
    display: flex;
    text-align:  center;
}

.text {
    position: absolute;
}

.row1 {
    background-color: rgb(251, 129, 15);
    color: rgb(40, 91, 40);
    text-align: center;
}

.row2 {
    background-color: rgb(40, 91, 40);
    color: white;
    text-align: center;
}

.row3 {
    background-color: darkred;
    color: white;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 300%;
}

h5 {
    font-size: 300%;
}

.accomplishmentsColor {
    color: rgb(40, 91, 40);
}

p {
    font-size: 140%;
    margin-left: 20%;
    margin-right: 20%;
}

.accomplishmentsText {
    color: rgb(40, 91, 40);
    font-size: 300%;
}

.accomplishmentsRow1 {
    background-color: rgb(251, 129, 15);
    display: flex;
    justify-content: space-evenly;
}

.accomplishmentsRow2 {
    background-color: rgb(255, 154, 30);
    display: flex;
    justify-content: space-evenly;
}


.imageStretch  {
    display: flex;
    align-items: stretch;
}

.image3 {
    width: 100%;
}

.imageAdjust {
    height: 550px;
    width: 80%;
}

.interestsTop {
    background-color: rgb(40, 91, 40);
    color: white;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

h2 {
    font-weight: bold;
    font-size: 190%;
}

.tab {
    display: inline-block;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.interestsColor {
    background-color: rgb(167, 208, 255);
    
}

.textAlignCenter {
    text-align: center;
}

.aligning {
    margin-top: 4%;
    margin-bottom: 4%;
}